$colorBg: #2B3A42;
$colorfff: #ffffff;

.ant-layout-header{
  width:100%;
  background: $colorBg;
  color: $colorfff;
  height: 56px;
  line-height: 56px;
  font-size: 14px;
  justify-content: center;
  position: fixed;
  .ant-layout-div{
    margin: auto;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    a{
      color: #999999;
      margin-right: 15px;
      text-decoration: none;
      &.active, &:hover{
        color: #ffffff;
      }
    }
  }
}

.ant-layout-has-sider{
  width: 100%;
  margin: auto;
  display: flex;
  background: $colorfff;
  margin-top: 56px;
  .ant-layout-sider-dark{
    flex: 0 0 265px; /* 左侧固定200px */
    background: $colorfff;
    padding: 0;
    position: fixed;
    height: 100%;
  }
  .ant-layout-content{
    flex: 3; /* 随父级变化 */
    background: $colorfff;
    margin-left: 296px;
    min-height: calc(100vh - 56px);
    &>p{
      text-align: center;
      margin-top: 50px;
      color: #999999;
    }
  }
}
.file-info{
  padding: 20px 0;
  color: #cecece;
  font-size: 12px;
  border-top: 1px solid #cecece;
  margin: 0 20px;
  text-align: right;
}
.sidebar-item {
  .docs-toc-wrapper{
    display: none;
  }
  &.sidebar-item--open{
    .docs-toc-wrapper{
      display: block;
    }
  }
}